/MicroRabbit.Banking.Api/bin
/MicroRabbit.Banking.Api/obj
/MicroRabbit.Banking.Application/bin
/MicroRabbit.Banking.Application/obj
/MicroRabbit.Banking.Data/bin
/MicroRabbit.Banking.Data/obj
/MicroRabbit.Banking.Domain/bin
/MicroRabbit.Banking.Domain/obj
/MicroRabbit.Domain.Core/bin
/MicroRabbit.Domain.Core/obj
/MicroRabbit.Infra.Bus/bin
/MicroRabbit.Infra.Bus/obj
/MicroRabbit.Infra.IOC/bin
/MicroRabbit.Infra.IOC/obj
/MicroRabbit.Mvc/bin
/MicroRabbit.Mvc/obj
/MicroRabbit.Transfer.Api/bin
/MicroRabbit.Transfer.Api/obj
/MicroRabbit.Transfer.Application/bin
/MicroRabbit.Transfer.Application/obj
/MicroRabbit.Transfer.Data/bin
/MicroRabbit.Transfer.Data/obj
/MicroRabbit.Transfer.Domain/bin
/MicroRabbit.Transfer.Domain/obj
/.vs
